.header_main-block {
  display: flex;
  justify-content: center;

}

.header_main-block_nav-bar {
  display: flex;
  flex-direction: row;

  align-items: center;

  position: fixed;
  width: calc(100vw - 36%);
  height: 76px;
  bottom: calc(100% - 85%);
  /* background: var(--black-div-2); */

  border-radius: 5px;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}

.header_main-block_nav-bar-left-itens {
  float: left;
}

.header_main-block_nav-bar-left-itens_links{
  text-decoration: none;
  color: var(--white-font);
  padding: 0px 5px;
}

.header_main-block_nav-bar-right-itens {
  width: 45px;
  height: auto;
}

.header_main-block_nav-bar-right-itens button {
  background: none;
}

@media only screen and (max-width: 450px) {
  .header_main-block_nav-bar {
    bottom: calc(100% - 90%);
    width: calc(100vw - 15%);

  }
}


@media only screen and (min-width: 500px) {
  .header_main-block_nav-bar {
    bottom: calc(100% - 90%);
  }
}

@media only screen and (min-width: 700px) {
  .header_main-block_nav-bar {
    bottom: calc(100% - 90%);
  }
}

@media only screen and (min-width: 830px) {
  .header_main-block_nav-bar {
    bottom: calc(100% - 90%);
  }
}

@media only screen and (min-width: 1000px) {
  .header_main-block_nav-bar {
    bottom: calc(100% - 95%);
  }
}

@media only screen and (min-width: 1400px) {
  .header_main-block_nav-bar {
    bottom: calc(100% - 95%);
  }
}
