.about_page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0px calc(100vw - 90%);
}

.about_page-main-div {
    height: calc(100vh - calc(100vh - 85%));
    width: calc(100vw - 36%);
    max-width: calc(100vw - 36%);
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    align-items: center;
}
.about_page-main-div_left{
    align-items: center;
    width: calc(100vw - 36% / 2);
    display: flex;
    flex-direction: column;
}

.about_page-main-div_left-paragraphs{
    max-width: 455px;
}

.about_page-main-div_right{
    align-items: center;
    /* padding-right: calc(100% - 97%); */
    width: calc(100vw - 36% / 2);
    display: flex;
    flex-direction: column;
}


.about_page-main-div_right img{
    max-width: 340px;
    max-height: 340px;
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;

    /* box-shadow: var(--box-shadow-user-profile-white); */
}
@media only screen and (max-width: 1000px) {
    .about_page-main-div {
        flex-direction: column-reverse;
        justify-content: center;    
    }
    .about_page-main-div_right{
        margin-bottom: 35px;
    }
    .about_page-main-div_right img{
        width: 45vw;
        height: 45vw;
    }

    .about_page-main-div_left-paragraphs{
        max-width: 400px;
    }
    .about_page-main-div_left-paragraphs p{
        font-size: 14px;
    }


}