* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
}

html, body {
    padding: 0px;
    border: 0px;
    margin: 0px;
    height: 100%;
    background-color: #D1D1D1;

}

:root{
    --white-font: #FFFFFF;
    --black-div: #1E1E1E;
    --black-div-2: #111111;
    --black-background: #2D2D2D;

    --box-shadow-user-profile-white: 0px 0px 35px 1px rgba(204, 219, 222, 0.64);
    --box-shadow-user-profile-black: 0px 0px 35px 1px rgba(29, 30, 31, 0.87);
}

