.unique-project_page{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.unique-project_page-main-div {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin-bottom: 200px;
    margin-top: 50px;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    float: left;
    flex-direction: row;
    flex-wrap: wrap;

}

/* ------------------- main blocks -------------------- */

.unique-project_page-main-div_span-blocks{
    width: calc(100vw - 38%);
    /* height: calc(100vh - 46%); */
    /* height: ; */
    margin-top: 0%;
    padding: 5px;
    border-radius: 5px;
    /* padding: 9px; */
}

.unique-project_page-main-div_span-blocks_images{
    height: 100%;
    width: 100%;
    /* calc(100vh - calc(100vh - 100%)) */
    /* height: min-content; */
    border-radius: 3px;
    overflow-y: scroll;
    padding: 1px;

    display: flex;
    align-items: flex-start;
    justify-self: center;
    /* overflow: hidden; */

    object-fit: cover;
    object-position: top;
}

.unique-project_page-main-div_span-blocks_figma-a{
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-self: flex-end;
    /* align-items: center; */
    /* align-content: center; */
    justify-self: flex-end;
    justify-items: flex-end;
    justify-content: flex-end;
    position: absolute;

    border-radius: 100%;
    border: 1px solid #000;
    margin: 0px 0px 5px 5px;
    padding: 5px;
}


/* -------------- scroll bar ----------------------- */

.unique-project_page-main-div_span-blocks_images::-webkit-scrollbar-track {
    width: 3px;
}
  
.unique-project_page-main-div_span-blocks_images::-webkit-scrollbar {
    width: 3px;
    margin-left: 3px;

}

.unique-project_page-main-div_span-blocks_images::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #737272;
    border: 1px solid #000;
}


/* -------------- scroll bar ----------------------- */


.unique-project_page-main-div_span-blocks_images_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: cover;
    object-position: top;
    pointer-events: none;
    user-select: none;
}

/* [class*="col-"] {
    width: 100%;
} */

/* 
[class*="col-"] {
    float: left;
    padding: 15px;
} */

@media only screen and (max-width: 450px) {
    /* For desktop: */
    .unique-project_page-main-div{
        width: 80%;
        margin-bottom: 225px;
    }
    .unique-project_page-main-div_span-blocks{
        width: 98%;
        height: 24vh;
    }
}


@media only screen and (min-width: 500px) {
    /* For desktop: */
    .unique-project_page-main-div{
        width: 80%;
        margin-bottom: 225px;
    }
    .unique-project_page-main-div_span-blocks{
        width: 98%;
        height: 28vh;
    }
}

@media only screen and (min-width: 700px) {
    /* For desktop: */
    .unique-project_page-main-div{
        width: 70%;
        margin-bottom: 250px;
    }
    .unique-project_page-main-div_span-blocks{
        width: 95%;
        height: 34vh;
    }
}

@media only screen and (min-width: 830px) {
    /* For tablet */
    .unique-project_page-main-div{
        width: 60%;
        margin-bottom: 225px;

    }
    .unique-project_page-main-div_span-blocks{
        width: 95%;
        height: 35vh;
    }
}

@media only screen and (min-width: 1000px) {
    /* For desktop: */
    .unique-project_page-main-div{
        width: 100%;
        margin-bottom: 200px;
    }
    .unique-project_page-main-div_span-blocks{
        /* width: calc(100vw - 58%); */
        width: calc(100vw - 38%);
        height: calc(100vh - 39%);
        margin-bottom: 200px;

    }
}

@media only screen and (min-width: 1400px) {
    /* For desktop: */
    .unique-project_page-main-div{
        width: 100%;
        margin-bottom: 200px;
    }
    .unique-project_page-main-div_span-blocks{
        /* width: calc(100vw - 58%); */
        width: calc(100vw - 38%);
        height: calc(100vh - 37%);
        margin-bottom: 200px;
        
    }
}


/* style={{border: "1px solid rgba(0, 0, 0, 0.1)", width: "800", height:"450"}}  */